/* Components */

.lien{
    padding:8px 12px;
    border: solid black 2px;
    border-radius: 7%;
    box-shadow: 4px 4px 0px black;;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
}

.btn{
    padding:8px 12px;
    background-color: white;
    border: solid black 2px;
    border-radius: 7%;
    box-shadow: 4px 4px 0px black;
    height: 100%;
    cursor: pointer;
}

/* Radio group */
.radio{
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 16px;
}

/* Table container */
.tab{
    height: 360px; 
    min-width: 40vw;  
    width: 60vw;        
    overflow-y: auto;       
    border: 2px solid black;
    border-radius: 6px;
}

/* Table */
.tableau{
    height: 100%;
    width: 100%;                       
    overflow: scroll;        
    table-layout: fixed;
    border-collapse: collapse;
}

th,td{
    text-align: left;
    padding: 4px;
    
}

.tableau th, .tableau td {
  border-right: 2px solid black;
}

thead th{
    background-color: lightgrey;
    line-height: 0.1;       
    padding: 0px 4px;     
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

/* Info blocks */
.inf2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30vh;
    gap:1.5%;

}

.inf2 h3{
    margin:0 0 8px 0;
    line-height:1.2;   
}

.inf2 div{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 95%;
}

.divinf{
    background-color: white;
    border: 2px solid black;
    overflow:auto;
    color: black;
}

.inf2 div:last-child{
    display: flex;
    flex-direction: column;
}

.inf3{
    display: flex;
    margin-top: 3%;
    width: 8vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Form preferences */
.formpref section{
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;
}

.formpref .row {
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px 24px;
  align-items:center;
  margin: 18px 0;
  width: 60vw;
  margin-left: auto;        
  margin-right: auto;
}

.formpref select{
    width: 6vw;
}

.radio2 { 
    display:flex; 
    flex-direction:column; 
    gap:8px; 
}


/* page Map */
.map{ 
    height: 90%;
    background-color: #333;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vw;
    margin-top: 2rem;
}

.autocomplete-container {
  /*the container must be positioned relative:*/
  position: relative;
  width: 30vw;
  margin: 0 auto; /* centre horizontal */

}

.autocomplete-container input {
  width: calc(100% - 43px);
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;

  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

/* acceuil apprenants grille*/

.grille{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    gap: 12px;
    padding: 8px 8px;
}
.case{
    text-align: center;
    border:2px solid black;
    border-radius:8px;
    padding:10px;;
}
.actions{
  display:flex;
  gap:12px;
  justify-content:center;
  align-items:center;
  width:100%;
  max-width:600px;    
  margin:3% auto 0 auto;
}

.actions .lien,
.actions .btn{
    flex: 1 auto;
    text-align:center;
    padding:12px 0;    
    max-width: 20vw;      
    display:flex;
    justify-content:center;
    align-items:center;  
}

/* Smartphone */
@media (max-width: 768px){
    .tab{
    width: 100%;       
    max-width: 100%;
    margin: 0;
    }
    nav{
    width: 100%;
    }
    .lien{
        width: 30vw;
    }
    .actions .lien,
    .actions .btn{
        max-width: 100%;
    }

}