header{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.inf{
    text-align: center;
}

.ban1{
    /* background-color: aqua; */
    flex: 0 0 10%;
}

.ban2{
    /* background-color: red; */
    flex: 0 0 45%;
    text-align: center;
}
.ban3{
    flex: 0 0 45%;
    height: 100%;
    /* background-color: gray; */
    align-content: space-evenly;
}

nav{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 100%;
    height: 50%;
}

nav a{
    display: inline-block;
    /* background-color: blueviolet; */
    
}

.lien{
    padding:8px 12px;
    border: solid black 2px;
    border-radius: 7%;
    box-shadow: 4px 4px 0px black;;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: black;

}

.btn{
    padding:8px 12px;
    background-color: white;
    border: solid black 2px;
    border-radius: 7%;
    box-shadow: 4px 4px 0px black;
    height: 100%;
}


.radio{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.tab{
    height: 360px;    
    width: 60vw;        
    overflow-y: auto;       
    border: 2px solid #333;
    border-radius: 6px;
    }

.tableau{
    height: 100%;
    width: 100%;                       
    overflow: scroll;        
    table-layout: fixed;
    border-collapse: collapse;
}

th,td{
    text-align: left;
    padding: 4px;
    
}

.tableau th, .tableau td {
  border-right: 2px solid black;
}

thead th{
    background-color: lightgrey;
    line-height: 0.1;       
    padding: 0px 4px;     
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

.inf2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 30vh;
    gap:1.5%;
}

.inf2 h3{
    margin:0 0 8px 0;
    line-height:1.2;   
}

.inf2 div{
    display: flex;
    flex-direction: column;
    width: 45vw;
    padding: 5px;
    height: 95%;
}

.divinf{
    border: 2px solid black;
    overflow:auto;
}

.inf2 div:last-child{
    display: flex;
    flex-direction: column;
}

.inf3{
    display: flex;
    margin-top: 3%;
    width: 8vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.formpref section{
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;
}

.formpref .row {
  display:grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px 24px;
  align-items:center;
  margin: 18px 0;
  width: 60vw;
  margin-left: auto;        
  margin-right: auto;
}

.formpref select{
    width: 5vw;
}

.radio2 { 
    display:flex; 
    flex-direction:column; 
    gap:8px; 
}

.actions { 
    display:grid; 
    grid-template-columns: 1fr 1fr;
    gap: 25%; 
    margin-top: 3%; 
    width: 40vw;
    margin-left: auto;        
    margin-right: auto;
}
